/* .woocommerce-product-gallery{
  position: sticky !important;
}

@media (max-width: 900px){
  .woocommerce-product-gallery{
    position: sticky !important;
    top: 0px !important;
    right: 0px !important;
  }
}

.important-style-woo3d{
  position: sticky !important;
  top: 0px !important;
  right: 0px !important;
} */


.product-btn3d {
  position: absolute;
  bottom: 5px;
  right: 0px;
  z-index: 1001;
}

.btn3d  {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  /* font-size: 1rem; */
  padding: .3rem;
  border-radius: 100%;
  box-shadow: 0 0 3px 0px rgb(0 0 0 / 55%);
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.btn3d > img{
  width: 2.5rem !important;
}
.btnar{
  position: absolute;
  bottom: 5px;
  left: 5px;
}



.btn3d:hover{
    cursor: pointer;
}

model-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180);
  top: 0px;
  right: 0px;
  z-index: 1000;
}


/* model-viewer>img{
  display: none !important;
  width: 100px !important;
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;

}
@media  (max-width:990px){
  model-viewer>img{
    display: none !important;

  }
}

@media (min-width:990px){
  model-viewer>img{
    display: block !important;

  }
} */

.hidden {
  display: none !important;
}



.qr-code{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media (min-width:48rem){
  .qr-code{
    display: block !important;
  }
}